version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: google/cloud-sdk
    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: sudo apt-get update
      - run: sudo apt-get install nasm
      - run: make
      - run: make unit-test
  nightly-build:
    docker:
      - image: google/cloud-sdk
    working_directory: /go/src/github.com/{{ORG_NAME}}/nvm
    steps:
      - run: git checkout https://github.com/nanovms/nvm 
      - run: make deps
      - run: make build
workflows:
  version: 2
  commit-workflow:
    jobs:
      - build
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *" # UTC midnight
          filters:
            branches:
              only:
                - master
    jobs:
      - build
      - nightly-build
