version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/nanovms/nanos
    steps:
      - checkout
      # specify any bash command here prefixed with `run: `
      - run: sudo apt-get update
      - run: sudo apt-get install nasm qemu
      - run: cd .. && git clone git@github.com:nanovms/ops.git
      - run: make && make unit-test
      - run: make gotest
  nightly-build:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/nanovms/nanos
    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt-get install nasm
      - run: make
      - run: make unit-test
      - run: cp .circleci/boto ~/.boto
      - run: wget https://storage.googleapis.com/pub/gsutil.tar.gz
      - run: tar xfz gsutil.tar.gz -C ~
      - run: ~/gsutil/gsutil cp output/boot/boot.img gs://uniboot
      - run: ~/gsutil/gsutil cp output/stage3/stage3.img gs://uniboot
      - run: ~/gsutil/gsutil cp output/mkfs/bin/mkfs gs://uniboot
      - run: ~/gsutil/gsutil acl ch -u AllUsers:R gs://uniboot/stage3.img
      - run: ~/gsutil/gsutil acl ch -u AllUsers:R gs://uniboot/boot.img
      - run: ~/gsutil/gsutil acl ch -u AllUsers:R gs://uniboot/mkfs
workflows:
  version: 2
  commit-workflow:
    jobs:
      - build
  nightly:
    triggers:
      - schedule:
          cron: "0 2 * * *" # 7PM PST
          filters:
            branches:
              only:
                - master
    jobs:
      - nightly-build
